.DS_Store
*.DS_Store
*/.DS_Store
._*
.idea
.idea/
.idea/*

.DS_Store/


.DS_Store
*.sublime-project
*.sublime-workspace
example-meteor-server/.meteor/.id
example-meteor-server/.meteor/platforms


example-meteor-server/.meteor/versions
node_modules
reports
